.logo {
  display: block;
    position: relative;
    left: 0;
    margin-right: auto;
    margin-left: 0;
    width: 300px;
    height: 0 500px; 
}

h1 {
    color: blue;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.fundo3{
    position: relative;
    background-color: #1E1E1E;
    /* cor de fundo base */
    overflow: hidden;
    content: "";
    position: fixed;
    /* cobre toda a tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("fundo3.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    /* controla a transparência do fundo */
    z-index: -1;
    /* coloca atrás do conteúdo */
}

.texto{
  color: #0D1B2A;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}