.cabecalho{
    background-color: #F4E60A;
    color:#336837;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100px; 
    align-content: center;
    
}

.titulo{
    align-items: center;
    margin: 0 800px;
}
.logo{
   width: 300px;
    height:0 500px;
    display: flex;
    align-items:center;
    justify-content: center;
    margin: auto;
    z-index: -1;         
}