/* Color Theme Swatches in Hex */


/* .DanDaDan-1-hex { color: #F8F8F8; }
.DanDaDan-2-hex { color: #FF9A76; }
.DanDaDan-3-hex { color: #9D7AFF; }
.DanDaDan-4-hex { color: #7B5CDA; }
.DanDaDan-5-hex { color: #3A3A3A; }
.DanDaDan-6-hex { color: #2A1B4D; }
.DanDaDan-7-hex { color: #1A0F33; } */

/* #0E2DA1 #F4E60A #336837 #290A49  #7D0D09*/

.container {
    height: 80vh;
    background-color: #290A49;
    width: 100vw;
}

.titulo {
    color: #707573;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 300px;
    height: 0 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
}

.img {
    width: 300px;
    height: 0 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
    border: #B775BF 5px solid;
}

.sinopse {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    text-align: justify;
    color: #FFFF
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}